*   {
    margin:0;
    padding: 0;
}
div.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container > div{
    position: absolute;
    height: 10vh;
    width: 10vw;
}
.black{
	background-color: black;
}
.pink{
	background-color: pink;
}